#div-id {
    font-family: "Barlow", sans-serif;
    line-height: 1.5;
    color: #648fff;
    border: 4px solid #648fff;
}

p {
    color: #dc267f;
    border: inherit;
    border-style: dotted;
}

em {
    background-color: #ffb000;
    color: #000;
    border: inherit;
}




body {
    font-size: 2rem;
}